.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

.fordform:hover {
    box-shadow: 0px 0px 3px 0px #1c57fb;    
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}
textarea:focus-visible {
    outline: none;
}

main {
    height: 80%;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}

button {
    display: block;
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

button:hover {
    width: 210px;
    height: 42px;
}

.titulo {
    margin-left: 8px;
}

@media (max-width: 1400px) {
    body {
        height: 80vh;
    }
    main {
        height: 70vh;
    }
    .forms {
        margin-top: 5%;
    }
}

@media (max-width: 375px) {
    body {
        height: 90vh;
    }
    main {
        height: 80vh;
    }
    
}
