html {
    overflow-x: hidden;
}

.carro {
    animation-name: car;
    animation-duration: 1s;
    #car2 {
        display: none;
    }
    #car3 {
        display: none;
        width: 600px;
    }
}

.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 15px;
    font-size: 13px;
    padding: 5px;
}

textarea {
    max-width: 300px;
    max-height: 70px;
}

.fordform:hover {
    box-shadow: 0px 0px 3px 0px #1c57fb;    
}



div.form {
    box-shadow: 0px 0px 8px 0px #000000;
    border-radius: 10px;
    padding: 30px;
}

@keyframes car {
    from {
       transform: translate(100vw, 0%);
    }
    to {
        transform: translate(0, 0);
    }
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}
textarea:focus-visible {
    outline: none;
}

main {
    height: 70vh;
}

main div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
    margin-top: 5%;
    height: 30%;
    animation-name: car;
    animation-duration: 2.7s;
    
    
}

.Termos_de_uso {
    p {
        width: 350px;
        height: 50px;
        text-align: justify;
        font-size: 0.8rem;
        color: black;        
    }
    .text_checkbox {
        width: 330px;
        height: 50px;
        font-size: 0.8rem;

        input {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }
}

h2 {
    text-align: left;
    font-weight: 800;
}

button {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    margin-right: 8px;
    float: right;
}

button:hover {
    width: 210px;
}

.titulo {
    margin-left: 8px;
}

@media (max-width: 1400px) {
    body {
        height: 80vh;
    }
    main {
        height: 70vh;
    }
    .forms {
        margin-top: 5%;
    }
    .car img {
        width: 80%;
        margin-left: 20%;
    }
}

@media (max-width: 375px) {
    body {
        height: 90vh;
    }
    main {
        height: 80vh;
    }
    
}
