@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

div#carousel {
    height: 100vh;
    width: 100%;
    max-height: 628px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 50vw;
        border-radius: 15px;
        box-shadow: black 0px 0px 30px;
    }
}

div#carousel-title a {
    text-decoration: none;
    font-size: 1.3rem;
    color: inherit;
    color: #1351d8;
}

div#carousel-title  {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: max-content;
}

ul {
	display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

header div {
    display: inline;
    vertical-align: middle;
}

header .logo {
    width: 10%;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    margin-left: 50%;
}

header nav .menu a {
    width: 70px;
    height: 25px;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav a {
    color: #1351d8;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 900;
    margin-right: 30px;
}

header nav .menu a:hover {
    color: #1b357e;
    font-weight: 900;
    box-shadow: 0px 0px 10px 0px rgb(67, 67, 67);
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
}

.checkbox {
    cursor: pointer;
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}
nav#social ul img:hover {
    opacity: 0.5;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
    margin-top: 2%;
}

footer div {
    display: inline;
    float: right;
}

.button:hover {
    background-color: rgb(67, 67, 67);
    box-shadow: 0px 0px 10px 0px rgb(67, 67, 67);
    cursor: pointer;
}
.button {
    background: #1351d8;
    color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 0px 5px 0px 0px black;
}

/* Responsividade do Home */
@media (max-width: 1400px) {
    div#carousel {
        height: 70vh;
    }
    div#carousel-title a {
        font-size: 1rem;
    }
}
@media (max-width: 650px) {
    div#carousel {
        height: 50vh;
        img {
            width: 90vw;
        }
    }
    div#carousel-title a {
        font-size: 1rem;
    }
}
@media (max-width: 375px) {
    div#carousel {
        height: 50vh;
        img {
            width: 90vw;
        }
    }
    div#carousel-title a {
        font-size: 1rem;
    }
}

/* header */
@media (max-width: 375px) {
    header .logo {
        width: 20%;
    }
    header nav {
        margin-left: 0;
    }
    header nav a {
        font-size: 1rem;
        margin-right: 15px;
    }
}

/* footer */
@media (max-width: 375px) {
    span.redesociais {
        display: none;
    }

}